.wrapper_with_padding
  #docs.clearfix
    - unless @docs.blank?
      - @docs.each do |doc|
        %a.href{ href: (url_for [doc]) }
          .doc
            %p.title= doc.title
            %p.date= time_ago_in_words(doc.created_at)
            %p.content= truncate(doc.content, length: 50)
    - else
      %h2 Create doc
      %p Start creating documents and organizing your life!
      %button= link_to "Create doc", new_doc_path
= link_to "Create doc", new_doc_path